/* soft reset do CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-image: url("background.png");
    background-size: 100vw auto;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 400px) {
    body{
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    body{
        font-size: 24px;
    }
}

header {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
}

.menu{
    background-color: #FFFFFF;
    opacity: 1;  
    position: fixed;
    top: 0;
    width: 100vw;
}
  
.menu a {
      display: block;
      padding: 10px 20px;
}
  
.menu li {
      list-style: none;
}
  
.menu ul {
      display: flex;
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      justify-content: space-around;
}
  
a {
      color: #000000;
      text-decoration: none;
}
  
a:hover {
      text-decoration: underline;
}

.img-perfil {
    text-align: center;
    width: 300px;
    height: auto;
    border-radius: 200px;
    border: solid #FFFFFF;
}

@media (max-width: 500px) {
    .img-perfil {
        text-align: center;
        width: 200px;
        height: auto;
        border-radius: 200px;
        border: solid #FFFFFF;
    }
} 

@media (max-width: 400px) {
    .img-perfil {
        text-align: center;
        width: 125px;
        height: auto;
        border-radius: 200px;
        border: solid #FFFFFF;
    }
} 

@media (max-width: 300px) {
    .img-perfil {
        text-align: center;
        width: 100px;
        height: auto;
        border-radius: 200px;
        border: solid #FFFFFF;
    }
} 

.site-subtitle,
.site-title {
    color: #FFFFFF;
    font-family: 'Muli', sans-serif;
}

.site-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.projetos a{
    color: #FFFFFF;
  }
  
.projetos h2 {
    font-family: 'Lato', sans-serif;
} 
  
.projetos {
    padding: 2em;
    height: 100vh;
}
  
.projetos figure {
    text-align: center;
}

.projetos .grid{
    display: grid;
    justify-content:center;
    gap: 2em;
    grid-template-columns: 260px 260px 260px;
}
    
@media(max-width: 880px){
    .projetos .grid{
        grid-template-columns: 260px 260px;
    }
}

@media(max-width: 600px){
    .projetos .grid{
        grid-template-columns: 240px;
         }
}
    


.img-projetos {
    height: 180px;
    width: 240px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center; 
}